.topBar {
  background-color: #f0f0f0;
  section {
    position: relative;
    width: 100%;
    height: 32px;
    margin: 0 auto;
    font-size: 11px;
  }
  #headerMenu {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    li {
      padding-right: 12px;
      list-style: none;
      border: none;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
.searchBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 25px 0;
  .logo {
    margin-right: 20px;
    img {
      width: 174px;
      height: 41px;
    }
  }
  .searchBar {
    display: flex;
    justify-content: center;
    width: 518px;
    height: 37px;
    border: 2px solid #4285f4;
    #search_select {
      font-size: 12px;
      outline: none;
      width: 135px;
      border: none;
      border-right: 1px solid #ddd;
    }
    #search_word {
      outline: none;
      width: 333px;
      border: none;
    }
    .search {
      cursor: pointer;
      width: 50px;
      color: #4285f4;
    }
  }
  .iconMenu {
    text-align: center;
    display: flex;
    li {
      margin: 0 12px;
      a {
        text-decoration: none;
        span {
          &.material-icons-outlined {
            font-size: 40px;
            margin-top: 0;
          }
          font-size: 12px;
          display: block;
          width: 50px;
          height: 31px;
          margin-top: 10px;
          color: #333333;
        }
      }
    }
  }
}
.searchProduct {
  margin: 0 100px;
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a {
      text-decoration: none;
      color: #000;
      margin-bottom: 10px;
      margin: 10px;
      li {
        width: 252px;
        height: 511px;
        padding: 10px 0 5px 10px;
        box-sizing: border-box;
        border: 1px solid transparent;
        overflow: hidden;
        transition: box-shadow 0.2s ease;
        .info {
          .itemTitle {
            margin-top: 5px;
            font-size: 14px;
            line-height: 1.3em;
          }
          .itemRating {
            color: #111;
            font-size: 12px;
          }
          .itemShipping {
          }
          .itemPrice {
            color: #ae0000;
          }
        }
      }
    }
  }
}

.main-today {
  .img {
    margin: 0 auto;
    width: 100vw;
    height: 20vw;
    background-image: url(/team1/images/main-today.img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.discovery {
  width: 981px;
  margin: 0 auto;
  margin-top: 35px;
  h3 {
    font-size: 24px;
    font-weight: 540;
    margin-bottom: 25px;
  }
  .discoveryWrap {
    border: 1px solid #d6d6d6;
    .discoveryBox {
      margin: 13px;
      .dcBoxTop {
        display: flex;
        justify-content: space-between;
        .dcBoxTopImg {
          border: 1px solid #d6d6d6;
          width: 468px;
          height: 300px;
        }
        .img1 {
          background-image: url("/team1/images/discovery.row1.img1.jpg");
        }
        .img2 {
          background-image: url("/team1/images/discovery.row1.img2.jpg");
        }
      }
      .dcBoxMid {
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
        margin-bottom: 13px;
        .dcBoxMidImg {
          width: 228.5px;
          height: 300px;
          border: 1px solid #d6d6d6;
          box-sizing: border-box;
        }
        .img1 {
          background-image: url("/team1/images/discovery.row2.img1.jpg");
        }
        .img2 {
          background-image: url("/team1/images/discovery.row2.img2.jpg");
        }
        .img3 {
          background-image: url("/team1/images/discovery.row2.img3.jpg");
        }
        .img4 {
          background-image: url("/team1/images/discovery.row2.img4.jpg");
        }
      }
      .dcBoxBtm {
        display: flex;
        justify-content: space-between;
        .dcBoxBtmImg {
          border: 1px solid #d6d6d6;
          width: 228.5px;
          height: 300px;
          box-sizing: border-box;
        }
        .img1 {
          width: 470px;
          background-image: url("/team1/images/discovery.row3.img1.jpg");
        }
        .img2 {
          background-image: url("/team1/images/discovery.row3.img2.jpg");
        }
        .img3 {
          background-image: url("/team1/images/discovery.row3.img3.jpg");
        }
      }
    }
  }
}

.trend {
  .trendMainTitle {
    overflow: hidden;
    width: 290px;
    height: 52px;
    background-position: 0px -123px;
    background-image: url("/team1/images/trend.main.title.png");
    margin-bottom: 20px;
  }
  width: 1020px;
  height: 673px;
  margin: 25px auto;
  box-sizing: border-box;
  margin-bottom: 100px;
  .trendWrap {
    border-top: 2px solid #ee9200;
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  .trendTitleBox {
    padding: 40px 0 0 22px;
    .trendTitle {
      width: 114px;
      height: 28px;
      background-image: url("/team1/images/trend.title.png");
      background-size: cover;
    }
  }
  .trendImg {
    width: 325px;
    height: 600px;
    background-image: url("/team1/images/trend.img.jpg");
  }
  .trendItems {
    .trendItemsBox {
      width: 160px;
      height: 269px;
      margin: 22px 7px 0 15px;
      p {
        font-size: 12px;
        margin-top: 5px;
        &:last-child {
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
    .trendItemImg {
      width: 160px;
      height: 160px;
      //padding: 22px 7px 0 15px;
    }
    .trendItemsTop {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d6d6d6;
      .img1 {
        background-image: url("/team1/images/trend.items.row1.img1.png");
      }
      .img2 {
        background-image: url("/team1/images/trend.items.row1.img2.jpg");
      }
      .img3 {
        background-image: url("/team1/images/trend.items.row1.img3.jpg");
      }
    }
    .trendItemsBtm {
      display: flex;
      justify-content: space-between;
      .img1 {
        background-image: url("/team1/images/trend.items.row2.img1.jpg");
      }
      .img2 {
        background-image: url("/team1/images/trend.items.row2.img2.jpg");
      }
      .img3 {
        background-image: url("/team1/images/trend.items.row2.img3.jpg");
      }
    }
  }
}
footer {
  .footerMenu {
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    a {
      text-decoration: none;
      color: black;
      border-right: 1px solid #888;
      padding: 0 14px;
      &:last-child {
        border-right: none;
      }
    }
  }
}
