.topBar { background-color: #f0f0f0; }

.topBar section { position: relative; width: 100%; height: 32px; margin: 0 auto; font-size: 11px; }

.topBar #headerMenu { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.topBar #headerMenu li { padding-right: 12px; list-style: none; border: none; }

.topBar #headerMenu li a { text-decoration: none; color: black; }

.searchBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; margin: 25px 0; }

.searchBox .logo { margin-right: 20px; }

.searchBox .logo img { width: 174px; height: 41px; }

.searchBox .searchBar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 518px; height: 37px; border: 2px solid #4285f4; }

.searchBox .searchBar #search_select { font-size: 12px; outline: none; width: 135px; border: none; border-right: 1px solid #ddd; }

.searchBox .searchBar #search_word { outline: none; width: 333px; border: none; }

.searchBox .searchBar .search { cursor: pointer; width: 50px; color: #4285f4; }

.searchBox .iconMenu { text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; }

.searchBox .iconMenu li { margin: 0 12px; }

.searchBox .iconMenu li a { text-decoration: none; }

.searchBox .iconMenu li a span { font-size: 12px; display: block; width: 50px; height: 31px; margin-top: 10px; color: #333333; }

.searchBox .iconMenu li a span.material-icons-outlined { font-size: 40px; margin-top: 0; }

#searchWrap a { text-decoration: none; color: black; }

#searchWrap .searchContentsBox { width: 1289px; display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; margin: 0 auto; }

#searchWrap .searchContentsBox .search_filter { width: 15%; }

#searchWrap .searchContentsBox .search_filter .search_filter_content { border: 1px solid #eee; border-bottom: none; margin: 0 15px; padding-left: 10px; }

#searchWrap .searchContentsBox .search_filter .search_filter_content h4 { padding-top: 20px; font-size: 18px; line-height: 1.5; }

#searchWrap .searchContentsBox .search_filter .search_filter_content .search_filter_category { padding: 0 10px 8px; border-bottom: 1px solid #efefef; }

#searchWrap .searchContentsBox .search_filter .search_filter_content .search_filter_category h5 { padding-top: 10px; font-size: 14px; }

#searchWrap .searchContentsBox .search_filter .search_filter_content .search_filter_category .search_category_component .search_filter_items .search_filter_item .search_category_title { margin: 8px 0; font-size: 12px; }

#searchWrap .searchContentsBox .searchProduct { width: 100%; margin: 0 auto; }

#searchWrap .searchContentsBox .searchProduct #searchRStitle { font-size: 18px; font-weight: 500; }

#searchWrap .searchContentsBox .searchProduct ul { margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#searchWrap .searchContentsBox .searchProduct ul a { text-decoration: none; color: #000; margin-bottom: 10px; margin: 10px; }

#searchWrap .searchContentsBox .searchProduct ul a li { width: 252px; height: 511px; padding: 10px 0 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#searchWrap .searchContentsBox .searchProduct ul a li:hover { -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); -webkit-transition: opacity 0.2s ease, -webkit-box-shadow 0.2s ease; transition: opacity 0.2s ease, -webkit-box-shadow 0.2s ease; transition: opacity 0.2s ease, box-shadow 0.2s ease; transition: opacity 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease; }

#searchWrap .searchContentsBox .searchProduct ul a li .info .itemTitle { margin-top: 5px; font-size: 14px; line-height: 1.3em; }

#searchWrap .searchContentsBox .searchProduct ul a li .info .itemShipping { margin-top: 5px; }

#searchWrap .searchContentsBox .searchProduct ul a li .info .itemPrice { margin-top: 5px; color: #ae0000; }

#searchWrap .searchContentsBox .searchProduct ul a li .info .itemRating { margin-top: 5px; }

#searchWrap .searchContentsBox .searchProduct ul a li .info .itemRating .stars { position: relative; font-size: 13px; width: 89.3px; }

#searchWrap .searchContentsBox .searchProduct ul a li .info .itemRating .stars .stars-back { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; overflow: hidden; white-space: nowrap; color: transparent; text-shadow: 0 0 0 #f0f0f0; }

#searchWrap .searchContentsBox .searchProduct ul a li .info .itemRating .stars .stars-real { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; overflow: hidden; white-space: nowrap; color: transparent; text-shadow: 0 0 0 #ed9931; }

.main-today .img { width: 1920px; height: 450px; background-image: url("/team1/images/main-today.img.jpg"); }

.discovery .row1 .img1 { background-image: url("/team1/images/discovery.row1.img1.jpg"); }

.discovery .row1 .img2 { background-image: url("/team1/images/discovery.row1.img2.jpg"); }

.discovery .row2 .img1 { background-image: url("/team1/images/discovery.row2.img1.jpg"); }

.discovery .row2 .img2 { background-image: url("/team1/images/discovery.row2.img2.jpg"); }

.discovery .row2 .img3 { background-image: url("/team1/images/discovery.row2.img3.jpg"); }

.discovery .row2 .img4 { background-image: url("/team1/images/discovery.row2.img4.jpg"); }

.discovery .row3 .img1 { background-image: url("/team1/images/discovery.row3.img1.jpg"); }

.discovery .row3 .img2 { background-image: url("/team1/images/discovery.row3.img2.jpg"); }

.discovery .row3 .img3 { background-image: url("/team1/images/discovery.row3.img3.jpg"); }

.trend .title { background-image: url("/team1/images/trend.title.png"); }

.trend .img { background-image: url("/team1/images/trend.img.jpg"); }

.trend .items .row1 .img1 { background-image: url("/team1/images/trend.items.row1.img1.jpg"); }

.trend .items .row1 .img2 { background-image: url("/team1/images/trend.items.row1.img2.jpg"); }

.trend .items .row1 .img3 { background-image: url("/team1/images/trend.items.row1.img3.jpg"); }

.trend .items .row2 .img1 { background-image: url("/team1/images/trend.items.row2.img1.jpg"); }

.trend .items .row2 .img2 { background-image: url("/team1/images/trend.items.row2.img2.jpg"); }

.trend .items .row2 .img3 { background-image: url("/team1/images/trend.items.row2.img3.jpg"); }
